ul.tools {
    display: none;
    list-style: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    border: solid 0.5px #000;
    position: absolute;
    background: #fff;
    padding: 0;

}
.ql-toolbar{
  width:100%;

}
.ql-editor{
    min-height:1000px;
}
.Center {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
}

#researchcell-header{
  position: relative;
  left: 40%;
  margin-left: -30px;
}

button:hover{
  background-color: rgb(255, 242, 207);
}

#editor{
  height :150px;
  width : 100%;
  repeat:no-repeat;
    background-color: #ffffff;
    background-image: none;
    background-size: 25px 25px;
    background-position:center;
    background-repeat: no-repeat;
    overflow :scroll;
}

ul.tools li {
    height: 20px;
    font-size: 12px;
    margin: 5px;
    padding: 2px 0px 0px 0px;
    cursor: pointer;
}

.jquill {
    background-color: azure;
}


.leftside {
  margin:0 0 0px 20px;
    width: 45%;
    float: left;
    margin-right:0;
    padding-right:0;
}

.rightside {
    width: 50%;
    float: right;
    margin-right:2%;
    margin-left:0;
}

* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 5px solid #ddd;
    margin-bottom: 12px;
}

#ResearchedCellsList {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    height: 900px;
    overflow-y: auto;
    list-style-type: none;
    padding: 5px;
    margin: 5px;

}
#editor{
  height:250px;
}
hr{
  border:1px solid black;
  margin:0;
}


#ResearchedCellsList li a {
    border: 1px solid #ddd;
    margin: 3px;
    /* Prevent double borders */
    background-color: #ececec;
    padding: 0px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block
}

#ResearchedCellsList li a:hover:not(.header) {
    background-color: rgb(213, 213, 213);
}
